<!doctype html>
<!--

     _          .
  ___/   ___  _/_     ___  _   __   ___  ,    .    ___    ____
 /   |  /   `  |     /   ` |   /  .'   ` |    `  .'   `  (
,'   | |    |  |    |    | `  /   |----' |    |  |----'  `--.
`___,' `.__/|  \__/ `.__/|  \/    `.___,  `---|. `.___, \___.'
                                              |
     `                                    \___/

-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Dataveyes | Human Data Interactions </title>
    <meta name="description" content="We share the firm conviction that the upcoming era of rich data and smart objects will disrupt the way data is conventionally used. Through our works, we take an active part in the revolution of Human-Data interactions.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="robots" content="index, follow">
    <meta name="fragment" content="!">

    <!-- TO DO
    <meta http-equiv="content-language" content="fr" />
    -->

    <meta property="og:type" content="website">
    <meta property="og:title" content="Dataveyes | Human Data Interactions">
    <meta property="og:description" content="We share the firm conviction that the upcoming era of rich data and smart objects will disrupt the way data is conventionally used. Through our works, we take an active part in the revolution of Human-Data interactions.">
    <meta property="og:image" content="http://dataveyes.com/images/__share_facebook.png">
    <meta property="og:url" content="http://dataveyes.com">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Dataveyes | Human Data Interactions">
    <meta name="twitter:description" content="We share the firm conviction that the upcoming era of rich data and smart objects will disrupt the way data is conventionally used. Through our works, we take an active part in the revolution of Human-Data interactions.">
    <meta name="twitter:creator" content="@dataveyes">
    <meta name="twitter:image" content="http://dataveyes.com/images/__share_facebook.png">
    <meta name="twitter:url" content="http://dataveyes.com">

    <link rel="publisher" href="https://plus.google.com/101126308699914680859/posts">
    <script type="text/javascript" src="http://use.typekit.net/kht4nhp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link href="components/fluidbox/css/fluidbox.css" rel="stylesheet" data-skrollr-stylesheet="">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">

    <!--[if lte IE 8]>
        <link href="styles/ie.css" rel="stylesheet" />
    <![endif]-->
    <script>
      window['_fs_debug'] = false;
      window['_fs_host'] = 'fullstory.com';
      window['_fs_org'] = '5QKRC';
      window['_fs_namespace'] = 'FS';
      (function(m,n,e,t,l,o,g,y){
          if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
          g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
          o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
          y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
          g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
          g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
          g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
          d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
          ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
      })(window,document,window['_fs_namespace'],'script','user');
    </script>
  </head>
  <body>
    <!--[if lte IE 8]>
      <div class="container-ui-view">
        <div class="ressources detail margin-top-container">
            <div class="content content-styles">
                <div class="wrapper">
                    <img src="images/__logo-landing-IE.png" alt="Dataveyes" />
                    <h1 class="mentions">You are using an old browser.</h1>
                    <p>To enjoy our work, please download a modern one. <a href="http://browsehappy.com/" target="_blank">Here are some</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer footer-ie">
        <div class="footer-container">
            <ul class="horizontal clearfix">
                <li>
                    <h1>Dataveyes</h1>
                    <p><a href="#!/en/mentions-legales">Terms & conditions</a></p>
                    <p class="copyright">© 2010 — 2014</p>
                </li>
                <li>
                    <h3 class="title">Visit us</h3>
                    <p><a href="http://goo.gl/maps/BvsbI" target="_blank">24 rue du Pré Saint-Gervais</a></p>
                    <p>93500 Pantin</p>
                    <p>France</p>
                </li>
                <li>
                    <h3 class="title">Contact us</h3>
                    <p>
                        <a href="mailto:contact@dataveyes.com">
                            contact@dataveyes.com
                        </a>
                    </p>
                </li>
                <li>
                    <h3 class="title">Follow us</h3>
                    <p>
                        <a href="http://twitter.com/dataveyes/" target="_blank">
                            Twitter
                        </a>
                    </p>
                    <p>
                        <a href="http://www.facebook.com/dataveyes" target="_blank">
                            Facebook
                        </a>
                    </p>
                    <p>
                        <a href="http://dribbble.com/dataveyes" target="_blank">
                            Dribble
                        </a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="site" ng-app="DataveyesApp">
        <div ng-include="" src="'views/header.html'"></div>
        <div class="container-ui-view" ui-view=""></div>
        <div ng-include="" src="'views/footer.html'"></div>
        <div class="contact-container" ng-controller="ContactController">
            <div class="close" ng-click="close()">
                <img src="images/close.svg">
            </div>
            <div class="content">
                <div class="informations">
                    <h3>Hello!</h3>
                    <div>
                        <h4 ng-bind="{{content.contactUs}}">Contacting us</h4>

                        <p>
                            <a href="mailto:contact@dataveyes.com">contact@dataveyes.com</a>
                        </p>
                        <p>
                            <a href="http://twitter.com/dataveyes" target="_blank">@dataveyes</a>
                        </p>

                    </div>
                    <div>
                        <h4 ng-bind="{{content.findUs}}">Finding us</h4>
                        <p ng-bind-html="content.address"></p>
                        <p class="map">
                            <a href="https://www.google.fr/maps/preview/place/24+Rue+du+Pr%C3%A9+Saint-Gervais,+93500+Pantin/@48.8901604,2.4030928,17z/data=!3m1!4b1!4m2!3m1!1s0x47e66db1f8ef9833:0x42947c108bf878b9" target="_blank" ng-bind="{{ content.seeOnMap }}">See the map</a>
                        </p>

                    </div>
                </div>
                <div class="directions">
                    <div class="border"></div>
                    <p class="title">{{content.titleExplainations}}</p>
                    <p>{{content.subTitleExplainations}}</p>
                    <ul>
                        <li ng-repeat="item in content.items">
                            <a ng-click="openLink(item)">
                                <h5>{{item.title}}</h5>
                                <p>{{item.content}}</p>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/vendors.js"></script>

    <script src="scripts/scripts.js"></script>

    <script>

        window.md = new MobileDetect(window.navigator.userAgent);

        if (window.md.tablet() != null) {
            $(document.body).addClass("tablet");
        } else if (window.md.mobile() != null) {
            $(document.body).addClass("mobile");
        }

    </script>



    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-19332251-1', 'dataveyes.com');
      ga('send', 'pageview');
    </script>

  </body>
</html>